#loader {
    position: fixed;
    z-index: 9999;
    opacity: 0.95;
    background: url('../img/loader.gif') 50% 50% no-repeat;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    cursor: progress;
}

.bounce-theme
{
    -webkit-animation: bounce 2s ease infinite;
    animation: bounce 2s ease infinite;
}

#loader { background-color: #ffffff !important; }
.text-theme { color: #da7612 !important; }
.bg-theme { background-color: #da7612 !important; }
.border-radius-theme { border-radius: 1px !important; }
.border-theme { border: 1px solid #da7612 !important; }
.border-bottom-theme { border-bottom: 1px solid #da7612 !important; }
