#loader {
    position: fixed;
    z-index: 9999;
    opacity: 0.95;
    background: url('../img/loader.gif') 50% 50% no-repeat;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    cursor: progress;
}

.bounce-theme
{
    -webkit-animation: bounce 2s ease infinite;
    animation: bounce 2s ease infinite;
}

#loader { background-color: #ffffff !important; }
.btn-theme, .badge-theme { color : #ffffff !important; }
.text-theme { color: #da7612 !important; }
.bg-theme, .btn-theme, .badge-theme { background-color: #da7612 !important; }
.border-radius-theme { border-radius: 1px !important; }
.border-theme, .badge-theme, .btn-theme { border: 1px solid #da7612 !important; }
.border-bottom-theme { border-bottom: 1px solid #da7612 !important; }
.border-top-theme { border-top: 1px solid #da7612 !important; }
.btn-theme:hover { background-color: #c2680e !important; }
.btn-theme:hover { background-color: #c2680e !important; }

.form-invalid { border: 1px solid red !important; }
.form-valid { border: 1px solid #178622 !important; }

.modal, .btn, .modal-content, .alert, input {
    border-radius: 0 !important;
}
.custom-alert-success,
.custom-alert-info,
.custom-alert-danger {
    color: #ffffff;
    border: 2px solid #ffffff;
    padding: 15px;
}
.custom-alert-success {
    background-color: #da7612;
}
.custom-alert-info {
    background-color: #4990da;
}
.custom-alert-danger {
    background-color: #da2013;
}
[data-notify="progressbar"] {
    margin-bottom: 0px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 5px;
}
[data-notify="container"].alert-success {
    color: #da7612;
    background-color: rgba(235, 235, 235, 0.9);
    border: 2px solid #da7612;
}
[data-notify="container"].alert-info {
    color: #4990da;
    background-color: rgba(235, 235, 235, 0.9);
    border: 2px solid #4990da;
}
[data-notify="container"].alert-danger {
    color: #da2013;
    background-color: rgba(235, 235, 235, 0.9);
    border: 2px solid #da2013;
}
[data-notify="progressbar"] > .progress-bar-success {
    background-color: #da7612;
}
[data-notify="progressbar"] > .progress-bar-info {
    background-color: #4990da;
}
[data-notify="progressbar"] > .progress-bar-danger {
    background-color: #da2013;
}
[data-notify="container"] {
    border-bottom: none !important;
    border-radius: 0 !important;
}